# Pre-Processing Of ADNIMERGE & Plasma Dataset

In [ ]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from adni_utils import *
from functools import reduce

In [3]:
adnimerge_df = df_of_csv("ADNIMERGE")
adnimerge_df

/tmp/ipykernel_50633/101518449.py:6: DtypeWarning: Columns (19,20,21,50,51,104,105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  df_of_csv = lambda filename, input_dir=True: pd.read_csv(

,RID,COLPROT,ORIGPROT,PTID,SITE,VISCODE,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,FBB_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,ADNI1,ADNI1,011_S_0002,11,bl,2005-09-08,CN,74.3,Male,...,NaN,1.33615,NaN,NaN,NaN,0.000000,0.00000,0,0,2023-07-07 04:59:40.0
1,3,ADNI1,ADNI1,011_S_0003,11,bl,2005-09-12,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.000000,0.00000,0,0,2023-07-07 04:59:40.0
2,3,ADNI1,ADNI1,011_S_0003,11,m06,2006-03-13,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.498289,5.96721,6,6,2023-07-07 04:59:40.0
3,3,ADNI1,ADNI1,011_S_0003,11,m12,2006-09-12,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,0.999316,11.96720,12,12,2023-07-07 04:59:40.0
4,3,ADNI1,ADNI1,011_S_0003,11,m24,2007-09-12,AD,81.3,Male,...,22.83,1.10860,NaN,NaN,NaN,1.998630,23.93440,24,24,2023-07-07 04:59:40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16416,4349,ADNI3,ADNI2,018_S_4349,18,m138,2023-03-30,CN,71.4,Female,...,17.82,1.33353,NaN,1.0344,NaN,11.351100,135.93400,138,138,2023-08-22 04:58:56.0
16417,6801,ADNI3,ADNI3,041_S_6801,41,m42,2023-06-30,SMC,61.0,Female,...,NaN,NaN,NaN,1.1509,NaN,3.701570,44.32790,42,42,2023-08-25 05:00:03.0
16418,5097,ADNI3,ADNI2,041_S_5097,41,m126,2023-08-16,SMC,67.5,Male,...,16.48,1.20863,NaN,1.1086,NaN,10.371000,124.19700,126,126,2023-08-26 05:00:28.0
16419,6515,ADNI3,ADNI3,007_S_6515,7,m60,2023-08-24,SMC,89.9,Female,...,NaN,NaN,NaN,NaN,1.1475,5.004790,59.93440,60,60,2023-08-29 04:58:51.0
16420,5214,ADNI3,ADNI2,126_S_5214,126,m120,2023-09-06,SMC,69.6,Female,...,14.56,1.37442,NaN,1.0208,NaN,10.157400,121.63900,120,120,2023-09-07 04:59:52.0

In [4]:
plasma_df = df_of_csv("PLASMA_DATA", input_dir=False)
plasma_df

       RID VISCODE  PLASMA_NFL  PLASMA_PTAU  PLASMA_AB_42_40
0        2      bl         NaN        2.410         0.331165
1        2     m36         NaN          NaN         0.471653
2        2     m60        25.3       11.939              NaN
3        2     m72        30.9       12.936              NaN
4        2     m84        34.1       13.563              NaN
...    ...     ...         ...          ...              ...
6329  5294      bl        21.2        7.085              NaN
6330  5295      bl        16.4       10.932              NaN
6331  5295     m24        14.1        9.335              NaN
6332  5296      bl        21.4        4.045         0.135155
6333  5296     m24        23.5        9.174              NaN

[6334 rows x 5 columns]

In [5]:
# All the different values present in the dataset for diagnosis
print(adnimerge_df["DX_bl"].unique())
print(adnimerge_df["DX"].unique())

['CN' 'AD' 'LMCI' 'SMC' 'EMCI' nan]
['CN' 'Dementia' 'MCI' nan]

In [6]:
# Filter out all the records that don't have MCI as the baseline
# diagnosis as we aren't interested in this data for this study
baseline_mci_df = adnimerge_df[
    adnimerge_df["DX_bl"].str.contains("EMCI|LMCI", regex=True, case=False, na=False)
]

baseline_mci_df

,RID,COLPROT,ORIGPROT,PTID,SITE,VISCODE,EXAMDATE,DX_bl,AGE,PTGENDER,...,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,FBB_bl,Years_bl,Month_bl,Month,M,update_stamp
5,4,ADNI1,ADNI1,022_S_0004,22,bl,2005-11-08,LMCI,67.5,Male,...,13.29,NaN,NaN,NaN,NaN,0.000000,0.0000,0,0,2023-07-07 04:59:40.0
6,4,ADNI1,ADNI1,022_S_0004,22,m06,2006-05-02,LMCI,67.5,Male,...,13.29,NaN,NaN,NaN,NaN,0.479124,5.7377,6,6,2023-07-07 04:59:40.0
7,4,ADNI1,ADNI1,022_S_0004,22,m12,2006-11-14,LMCI,67.5,Male,...,13.29,NaN,NaN,NaN,NaN,1.015740,12.1639,12,12,2023-07-07 04:59:40.0
8,4,ADNI1,ADNI1,022_S_0004,22,m18,2007-05-14,LMCI,67.5,Male,...,13.29,NaN,NaN,NaN,NaN,1.511290,18.0984,18,18,2023-07-07 04:59:40.0
9,4,ADNI1,ADNI1,022_S_0004,22,m36,2008-11-18,LMCI,67.5,Male,...,13.29,NaN,NaN,NaN,NaN,3.028060,36.2623,36,36,2023-07-07 04:59:40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16405,6446,ADNI3,ADNI3,135_S_6446,135,m60,2023-07-12,EMCI,61.5,Male,...,NaN,1.39779,NaN,NaN,0.9946,5.004790,59.9344,60,60,2023-08-18 05:00:32.0
16409,6731,ADNI3,ADNI3,041_S_6731,41,m48,2023-07-31,EMCI,66.8,Female,...,NaN,1.45969,NaN,1.3642,NaN,4.139630,49.5738,48,48,2023-08-18 05:00:33.0
16410,6480,ADNI3,ADNI3,035_S_6480,35,m60,2023-07-27,LMCI,79.9,Female,...,NaN,1.15370,NaN,1.5847,NaN,5.040380,60.3607,60,60,2023-08-09 05:00:00.0
16412,6757,ADNI3,ADNI3,019_S_6757,19,m48,2023-08-14,LMCI,71.4,Female,...,NaN,1.48434,NaN,NaN,1.2001,4.139630,49.5738,48,48,2023-08-24 05:00:12.0
16413,4896,ADNI3,ADNI2,126_S_4896,126,m132,2023-08-16,LMCI,68.1,Male,...,21.23,1.34987,NaN,0.9461,NaN,10.967800,131.3440,132,132,2023-08-18 05:00:30.0

In [7]:
def create_bl_column(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    bl_name = f"{column_name}_bl"
    bl_values = df[df["VISCODE"] == "bl"][["RID", column_name]]
    df = df.merge(
        bl_values.rename(columns={column_name: bl_name}), on="RID", how="left"
    )
    for rid in df["RID"].unique():
        bl_value = df.loc[df["RID"] == rid, bl_name].iloc[0]
        if pd.notna(bl_value):
            df.loc[df["RID"] == rid, bl_name] = bl_value
    return df


columns = [
    "RID",
    "VISCODE",
    "DX_bl",
    "DX",
    "Years_bl",
    "AGE",
    "PTGENDER",
    "PTEDUCAT",
    "PTMARRY",
    "PTRACCAT",
    "APOE4",
    "ABETA_bl",
    "ABETA",
    "TAU_bl",
    "TAU",
    "PTAU_bl",
    "PTAU",
    "PLASMA_NFL_bl",
    "PLASMA_NFL",
    "PLASMA_PTAU_bl",
    "PLASMA_PTAU",
    "PLASMA_AB_42_40_bl",
    "PLASMA_AB_42_40",
    "MMSE_bl",
    "MMSE",
    "RAVLT_immediate_bl",
    "RAVLT_immediate",
    "RAVLT_learning_bl",
    "RAVLT_learning",
    "RAVLT_forgetting_bl",
    "RAVLT_forgetting",
    "RAVLT_perc_forgetting_bl",
    "RAVLT_perc_forgetting",
    "ADAS11_bl",
    "ADAS11",
    "ADAS13_bl",
    "ADAS13",
    "ADASQ4_bl",
    "ADASQ4",
    "mPACCdigit_bl",
    "mPACCdigit",
    "mPACCtrailsB_bl",
    "mPACCtrailsB",
    "FAQ_bl",
    "FAQ",
]

pd.set_option("display.max_columns", None)

df = baseline_mci_df.merge(plasma_df, on=["RID", "VISCODE"], how="left").sort_values(
    by=["RID", "Years_bl"]
)
columns_to_process = ["PLASMA_NFL", "PLASMA_PTAU", "PLASMA_AB_42_40"]
df = reduce(create_bl_column, columns_to_process, df)[columns]
df

,RID,VISCODE,DX_bl,DX,Years_bl,AGE,PTGENDER,PTEDUCAT,PTMARRY,PTRACCAT,APOE4,ABETA_bl,ABETA,TAU_bl,TAU,PTAU_bl,PTAU,PLASMA_NFL_bl,PLASMA_NFL,PLASMA_PTAU_bl,PLASMA_PTAU,PLASMA_AB_42_40_bl,PLASMA_AB_42_40,MMSE_bl,MMSE,RAVLT_immediate_bl,RAVLT_immediate,RAVLT_learning_bl,RAVLT_learning,RAVLT_forgetting_bl,RAVLT_forgetting,RAVLT_perc_forgetting_bl,RAVLT_perc_forgetting,ADAS11_bl,ADAS11,ADAS13_bl,ADAS13,ADASQ4_bl,ADASQ4,mPACCdigit_bl,mPACCdigit,mPACCtrailsB_bl,mPACCtrailsB,FAQ_bl,FAQ
0,4,bl,LMCI,MCI,0.000000,67.5,Male,10,Married,White,0.0,1501.0,1501.0,153.1,153.1,13.29,13.29,NaN,NaN,3.76,3.76,0.311458,0.311458,27.0,27.0,37.0,37.0,7.0,7.0,4.0,4.0,36.3636,36.3636,14.33,14.33,21.33,21.33,6.0,6.0,-8.421500,-8.421500,-9.449350,-9.449350,0.0,0.0
1,4,m06,LMCI,MCI,0.479124,67.5,Male,10,Married,White,0.0,1501.0,NaN,153.1,NaN,13.29,NaN,NaN,NaN,3.76,NaN,0.311458,NaN,27.0,28.0,37.0,33.0,7.0,7.0,4.0,1.0,36.3636,11.1111,14.33,17.33,21.33,25.33,6.0,7.0,-8.421500,-7.232670,-9.449350,-6.394750,0.0,0.0
2,4,m12,LMCI,MCI,1.015740,67.5,Male,10,Married,White,0.0,1501.0,1176.0,153.1,159.7,13.29,13.3,NaN,NaN,3.76,NaN,0.311458,0.289498,27.0,26.0,37.0,37.0,7.0,4.0,4.0,1.0,36.3636,12.5000,14.33,15.00,21.33,22.00,6.0,7.0,-8.421500,-9.061240,-9.449350,-10.289100,0.0,0.0
3,4,m18,LMCI,MCI,1.511290,67.5,Male,10,Married,White,0.0,1501.0,NaN,153.1,NaN,13.29,NaN,NaN,NaN,3.76,NaN,0.311458,NaN,27.0,27.0,37.0,44.0,7.0,8.0,4.0,2.0,36.3636,16.6667,14.33,20.33,21.33,28.33,6.0,7.0,-8.421500,-7.873660,-9.449350,-7.625370,0.0,1.0
4,4,m30,LMCI,NaN,2.496920,67.5,Male,10,Married,White,0.0,1501.0,NaN,153.1,NaN,13.29,NaN,NaN,NaN,3.76,NaN,0.311458,NaN,27.0,NaN,37.0,NaN,7.0,NaN,4.0,NaN,36.3636,NaN,14.33,NaN,21.33,NaN,6.0,NaN,-8.421500,NaN,-9.449350,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8265,7088,bl,LMCI,MCI,0.000000,70.0,Male,16,Married,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,27.0,24.0,24.0,5.0,5.0,5.0,5.0,71.4286,71.4286,15.67,15.67,24.67,24.67,7.0,7.0,-9.659400,-9.659400,-9.248820,-9.248820,3.0,3.0
8266,7088,m12,LMCI,Dementia,0.988364,70.0,Male,16,Married,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,25.0,24.0,24.0,5.0,2.0,5.0,6.0,71.4286,100.0000,15.67,16.67,24.67,25.67,7.0,7.0,-9.659400,-13.186500,-9.248820,-10.737000,3.0,6.0
8267,7105,bl,LMCI,MCI,0.000000,77.5,Male,18,Married,More than one,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,24.0,26.0,26.0,2.0,2.0,6.0,6.0,100.0000,100.0000,12.00,12.00,22.00,22.00,7.0,7.0,-14.350300,-14.350300,-13.554000,-13.554000,0.0,0.0
8268,7117,bl,EMCI,MCI,0.000000,68.9,Female,18,Never married,Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0,45.0,45.0,8.0,8.0,5.0,5.0,38.4615,38.4615,5.00,5.00,7.00,7.00,2.0,2.0,2.742450,2.742450,2.540260,2.540260,0.0,0.0
8269,7121,bl,LMCI,MCI,0.000000,62.1,Male,17,Married,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0,48.0,48.0,7.0,7.0,9.0,9.0,75.0000,75.0000,15.67,15.67,16.67,16.67,1.0,1.0,-0.513317,-0.513317,0.098435,0.098435,1.0,1.0

In [8]:
# An example record of the plasma data merged into the ADNIMERGE dataset
df[df["RID"] == 2018]

,RID,VISCODE,DX_bl,DX,Years_bl,AGE,PTGENDER,PTEDUCAT,PTMARRY,PTRACCAT,APOE4,ABETA_bl,ABETA,TAU_bl,TAU,PTAU_bl,PTAU,PLASMA_NFL_bl,PLASMA_NFL,PLASMA_PTAU_bl,PLASMA_PTAU,PLASMA_AB_42_40_bl,PLASMA_AB_42_40,MMSE_bl,MMSE,RAVLT_immediate_bl,RAVLT_immediate,RAVLT_learning_bl,RAVLT_learning,RAVLT_forgetting_bl,RAVLT_forgetting,RAVLT_perc_forgetting_bl,RAVLT_perc_forgetting,ADAS11_bl,ADAS11,ADAS13_bl,ADAS13,ADASQ4_bl,ADASQ4,mPACCdigit_bl,mPACCdigit,mPACCtrailsB_bl,mPACCtrailsB,FAQ_bl,FAQ
3668,2018,bl,EMCI,MCI,0.000000,76.4,Female,18,Married,White,0.0,>1700,>1700,223.1,223.1,17.92,17.92,36.3,36.3,10.252,10.252,0.135257,0.135257,29.0,29.0,46.0,46.0,9.0,9.0,1.0,1.0,7.69231,7.69231,7.0,7.00,10.0,10.00,2.0,2.0,-1.22015,-1.220150,-1.15975,-1.159750,0.0,0.0
3669,2018,m03,EMCI,NaN,0.180698,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,NaN,10.252,NaN,0.135257,NaN,29.0,NaN,46.0,NaN,9.0,NaN,1.0,NaN,7.69231,NaN,7.0,NaN,10.0,NaN,2.0,NaN,-1.22015,NaN,-1.15975,NaN,0.0,NaN
3670,2018,m06,EMCI,MCI,0.536619,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,NaN,10.252,NaN,0.135257,NaN,29.0,29.0,46.0,44.0,9.0,8.0,1.0,3.0,7.69231,25.00000,7.0,2.00,10.0,3.00,2.0,0.0,-1.22015,2.956820,-1.15975,0.531643,0.0,4.0
3671,2018,m12,EMCI,MCI,0.939083,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,35.7,10.252,12.988,0.135257,NaN,29.0,29.0,46.0,48.0,9.0,9.0,1.0,2.0,7.69231,15.38460,7.0,6.00,10.0,7.00,2.0,0.0,-1.22015,1.464410,-1.15975,-0.836469,0.0,0.0
3672,2018,m18,EMCI,NaN,1.448320,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,NaN,10.252,NaN,0.135257,NaN,29.0,NaN,46.0,NaN,9.0,NaN,1.0,NaN,7.69231,NaN,7.0,NaN,10.0,NaN,2.0,NaN,-1.22015,NaN,-1.15975,NaN,0.0,NaN
3673,2018,m24,EMCI,MCI,1.902810,76.4,Female,18,Married,White,0.0,>1700,>1700,223.1,223.2,17.92,17.99,36.3,33.6,10.252,10.785,0.135257,NaN,29.0,30.0,46.0,46.0,9.0,8.0,1.0,-1.0,7.69231,-8.33333,7.0,11.00,10.0,13.00,2.0,2.0,-1.22015,0.743299,-1.15975,-0.267367,0.0,7.0
3674,2018,m30,EMCI,NaN,2.472280,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,NaN,10.252,NaN,0.135257,NaN,29.0,NaN,46.0,NaN,9.0,NaN,1.0,NaN,7.69231,NaN,7.0,NaN,10.0,NaN,2.0,NaN,-1.22015,NaN,-1.15975,NaN,0.0,NaN
3675,2018,m36,EMCI,CN,2.956880,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,38.9,10.252,14.320,0.135257,NaN,29.0,30.0,46.0,55.0,9.0,9.0,1.0,1.0,7.69231,7.14286,7.0,5.00,10.0,7.00,2.0,2.0,-1.22015,1.143130,-1.15975,-0.629020,0.0,0.0
3676,2018,m48,EMCI,NaN,4.665300,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,NaN,10.252,NaN,0.135257,NaN,29.0,NaN,46.0,NaN,9.0,NaN,1.0,NaN,7.69231,NaN,7.0,NaN,10.0,NaN,2.0,NaN,-1.22015,NaN,-1.15975,NaN,0.0,0.0
3677,2018,m102,EMCI,CN,8.377820,76.4,Female,18,Married,White,0.0,>1700,NaN,223.1,NaN,17.92,NaN,36.3,NaN,10.252,NaN,0.135257,NaN,29.0,30.0,46.0,38.0,9.0,9.0,1.0,2.0,7.69231,16.66670,7.0,8.33,10.0,11.33,2.0,2.0,-1.22015,1.542960,-1.15975,-0.001717,0.0,0.0

In [9]:
# Get all the columns with mixed types so we can clean the data up for them
df.columns[df.apply(lambda col: col.map(type).nunique() > 1)]

Index(['DX', 'PTMARRY', 'ABETA_bl', 'ABETA', 'TAU_bl', 'TAU', 'PTAU_bl',
       'PTAU'],
      dtype='object')

In [ ]:
columns_to_format = ["ABETA", "TAU", "PTAU", "ABETA_bl", "TAU_bl", "PTAU_bl"]
print("These are the following strings to change to numerical values -")
for column in columns_to_format:
    column_data_as_list = df[column].unique().tolist()
    filtered = filter(remove_float_values, column_data_as_list)
    print(f"{column}:", list(filtered))

These are the following strings to change to numerical values -
ABETA: ['>1700']
TAU: ['>1300']
PTAU: ['>120', '<8']
ABETA_bl: ['>1700']
TAU_bl: ['>1300']
PTAU_bl: ['>120']

In [11]:
# Define a replacement map that replaces strings with a numerical value
# for each of the fields that have mixed types in their columns
replacement_map = {
    "ABETA": {">1700": 1701},
    "TAU": {">1300": 1301},
    "PTAU": {">120": 121, "<8": 7},
    "ABETA_bl": {">1700": 1701},
    "TAU_bl": {">1300": 1301},
    "PTAU_bl": {">120": 121},
}

df = df.replace(replacement_map)

In [12]:
data_over_4_years = df[df["Years_bl"].round() <= 4]
data_over_4_years

,RID,VISCODE,DX_bl,DX,Years_bl,AGE,PTGENDER,PTEDUCAT,PTMARRY,PTRACCAT,APOE4,ABETA_bl,ABETA,TAU_bl,TAU,PTAU_bl,PTAU,PLASMA_NFL_bl,PLASMA_NFL,PLASMA_PTAU_bl,PLASMA_PTAU,PLASMA_AB_42_40_bl,PLASMA_AB_42_40,MMSE_bl,MMSE,RAVLT_immediate_bl,RAVLT_immediate,RAVLT_learning_bl,RAVLT_learning,RAVLT_forgetting_bl,RAVLT_forgetting,RAVLT_perc_forgetting_bl,RAVLT_perc_forgetting,ADAS11_bl,ADAS11,ADAS13_bl,ADAS13,ADASQ4_bl,ADASQ4,mPACCdigit_bl,mPACCdigit,mPACCtrailsB_bl,mPACCtrailsB,FAQ_bl,FAQ
0,4,bl,LMCI,MCI,0.000000,67.5,Male,10,Married,White,0.0,1501.0,1501.0,153.1,153.1,13.29,13.29,NaN,NaN,3.76,3.76,0.311458,0.311458,27.0,27.0,37.0,37.0,7.0,7.0,4.0,4.0,36.3636,36.3636,14.33,14.33,21.33,21.33,6.0,6.0,-8.421500,-8.421500,-9.449350,-9.449350,0.0,0.0
1,4,m06,LMCI,MCI,0.479124,67.5,Male,10,Married,White,0.0,1501.0,NaN,153.1,NaN,13.29,NaN,NaN,NaN,3.76,NaN,0.311458,NaN,27.0,28.0,37.0,33.0,7.0,7.0,4.0,1.0,36.3636,11.1111,14.33,17.33,21.33,25.33,6.0,7.0,-8.421500,-7.232670,-9.449350,-6.394750,0.0,0.0
2,4,m12,LMCI,MCI,1.015740,67.5,Male,10,Married,White,0.0,1501.0,1176.0,153.1,159.7,13.29,13.3,NaN,NaN,3.76,NaN,0.311458,0.289498,27.0,26.0,37.0,37.0,7.0,4.0,4.0,1.0,36.3636,12.5000,14.33,15.00,21.33,22.00,6.0,7.0,-8.421500,-9.061240,-9.449350,-10.289100,0.0,0.0
3,4,m18,LMCI,MCI,1.511290,67.5,Male,10,Married,White,0.0,1501.0,NaN,153.1,NaN,13.29,NaN,NaN,NaN,3.76,NaN,0.311458,NaN,27.0,27.0,37.0,44.0,7.0,8.0,4.0,2.0,36.3636,16.6667,14.33,20.33,21.33,28.33,6.0,7.0,-8.421500,-7.873660,-9.449350,-7.625370,0.0,1.0
4,4,m30,LMCI,NaN,2.496920,67.5,Male,10,Married,White,0.0,1501.0,NaN,153.1,NaN,13.29,NaN,NaN,NaN,3.76,NaN,0.311458,NaN,27.0,NaN,37.0,NaN,7.0,NaN,4.0,NaN,36.3636,NaN,14.33,NaN,21.33,NaN,6.0,NaN,-8.421500,NaN,-9.449350,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8265,7088,bl,LMCI,MCI,0.000000,70.0,Male,16,Married,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,27.0,24.0,24.0,5.0,5.0,5.0,5.0,71.4286,71.4286,15.67,15.67,24.67,24.67,7.0,7.0,-9.659400,-9.659400,-9.248820,-9.248820,3.0,3.0
8266,7088,m12,LMCI,Dementia,0.988364,70.0,Male,16,Married,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,25.0,24.0,24.0,5.0,2.0,5.0,6.0,71.4286,100.0000,15.67,16.67,24.67,25.67,7.0,7.0,-9.659400,-13.186500,-9.248820,-10.737000,3.0,6.0
8267,7105,bl,LMCI,MCI,0.000000,77.5,Male,18,Married,More than one,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,24.0,26.0,26.0,2.0,2.0,6.0,6.0,100.0000,100.0000,12.00,12.00,22.00,22.00,7.0,7.0,-14.350300,-14.350300,-13.554000,-13.554000,0.0,0.0
8268,7117,bl,EMCI,MCI,0.000000,68.9,Female,18,Never married,Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0,45.0,45.0,8.0,8.0,5.0,5.0,38.4615,38.4615,5.00,5.00,7.00,7.00,2.0,2.0,2.742450,2.742450,2.540260,2.540260,0.0,0.0
8269,7121,bl,LMCI,MCI,0.000000,62.1,Male,17,Married,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0,48.0,48.0,7.0,7.0,9.0,9.0,75.0000,75.0000,15.67,15.67,16.67,16.67,1.0,1.0,-0.513317,-0.513317,0.098435,0.098435,1.0,1.0